@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap';

* {box-sizing: border-box;}

body {
    font-family: 'Montserrat', sans-serif;
}

.main-menu-font-size {
    font-size: 14px !important;
}
